body {
    background-color: black;
    color: #ffd700;
}
h1 {
    position: relative;
}
#p1 p {
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.7);
    text-align: center; 
}
.backgroundtijolo {
    background-image: url("imagens/background\ tijolo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%); /* quanto menor, mais escuro */
    height: 100vh;
    border-radius: 20px;
    margin: 0 auto 0 auto;
}
.bem {
    font-size: 210px;
    position: relative;
    top: -40px;
    left: 50px;
    font-family: 'Pacifico', sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}
.vindos {
    position: relative;
    font-size: 210px;
    top: 200px;
    right: 240px;
    font-family: 'Pacifico', sans-serif;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
    #fotoJean {
        flex-direction: column; /* Empilha o título e a imagem */
        text-align: center; /* Alinha o título ao centro */
        gap: 10px; /* Ajusta o espaço entre o título e a imagem */
    }

    .bem {
        font-size: 100px;
        top: -160px;
        left: 0; /* Ajusta o tamanho do título */
    }
    .vindos {
        font-size: 100px;
        top: 80px;
        right: 0;
    }

    #fotoJean img {
        width: 60%; /* Ajusta o tamanho da imagem em telas pequenas */
        
    }
}
@media (max-width: 480px) {
    .bem {
        font-size: 70px; /* Reduz ainda mais o tamanho do título */
        top: -180px;
        left: 0;
    }
    .vindos {
        font-size: 70px;
        top: 60px;
        right: 0;
    }

    #fotoJean img {
        width: 90%; /* Ajusta a imagem para caber melhor */
    }
}
h2 {
    text-shadow: 1px 1px 3px #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
}
section {
    margin-bottom: 60px;
}
#fotoJean {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#fotoJean img {
    border: double 5px #ffd700;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.Jean {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 100%;
    margin: -290px 30px 90px auto 
}
.backgroundtijolo p {
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.7);
    text-align: center;
}
#fotobarbeiros {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}
#fotobarbeiros img {
    width: 100%;
    max-width: 300px;
    height: 400px;
    border-radius: 15px;
    border: double 5px #ffd700;
    box-shadow: 2px 2px 8px rgba(212, 175, 55, 0.5);
    margin-top: 0;
    cursor: pointer;
}
.barbeiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
#fotobarbeiros p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.7);
    margin: 10px auto;
}
#fotoprodutos {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
#fotoprodutos img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    border: double 5px #ffd700;
    box-shadow: 2px 2px 8px rgba(212, 175, 55, 0.5);
    margin: 20px;
    cursor: pointer;
}
#freezer h2 {
    margin-top: 0;
}
.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: auto;
}
#fotoprodutos p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.7);
    margin: auto;
}
#fotofreezer {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
#fotofreezer img {
    width: 300px;
    height: 500px;
    display: block;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 50px;
}
#aberto {
    display: none;
}
.slot {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

#slot1 { top: 100px; left: 40px; border-color: red;}
#slot2 { top: 100px; left: 120px; border-color: red;}
#slot3 { top: 100px; left: 200px; border-color: red;}

#fotoestrutura {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
#fotoestrutura img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 10px;
    border: double 5px #ffd700;
    box-shadow: 2px 2px 8px rgba(212, 175, 55, 0.5);
    margin: 20px;
}
#fotoestrutura p {
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.7);
    text-align: center;
}
.ambiente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 310px;
    height: auto;
}
#encerramento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#encerramento img {
    border: double 5px black;
    box-shadow: 2px 2px 8px rgba(212, 175, 55, 0.5);
}
#encerramento a {
    text-align: center;
    text-decoration: solid;
    display: block;
}
#encerramento p {
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.7);
    color: #fff;
}
.titulo2 {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 3px #fff;
    margin: 0 auto 30px auto;
}
.logo {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 100%;
    margin-top: 20px;
}
.whatsapp {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
}
.whatsapp:hover {
    background-color: #1ebd5a;
}
.telefone {
    color: #ffd700;
    font-size: 35px;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.7);
}
.fachada {
    width: 100%;
    max-width: 500px;
    height: 300px;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    display: block;
    margin: 20px auto 0 auto;

}
.localizacao {
    font-size: 25px;
    text-align: center;
    color: #ffd700;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.7);
    border: solid 5px black;
    box-shadow: 2px 2px 8px rgba(255, 215, 0, 0.7);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 20px auto 0 auto;
    margin-top: 40px;
    color: #fff;
}
